<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- EF6 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<!-- EF connection string -->
	<connectionStrings>
		<add name="SensorsDb"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SensorsDb;Integrated Security=True;MultipleActiveResultSets=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="DefaultNetTcpBinding" />
			</netTcpBinding>
		</bindings>

		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultBehavior">
					<serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<services>
			<service name="Sensors.ServiceHost.Services.SensorService" behaviorConfiguration="DefaultBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9001/SensorService" />
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="netTcpBinding"
						  bindingConfiguration="DefaultNetTcpBinding"
						  contract="Sensors.Contracts.ISensorService" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	</system.serviceModel>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
